/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .containerSplash {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 3.5fr 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr 2fr 2fr 2fr 1fr 1fr 1fr 1fr;
     align-items: center;
     justify-content: center;
     text-align: center;
 }

 /* .containerSplash .logo{
    grid-column: 1/3;
    grid-row: 1/2;
    height: 78%;
    width: 53%;
    justify-items: center;
    align-items: center;
    padding-left: 40px;
    padding-top: 30px;
 } */

.containerSplash .background{
    grid-column: 1/10;
    grid-row: 1/11;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-size: auto 100%;
    z-index: -1;
    filter: brightness(45%);
}


.containerSplash .signin{
    grid-column: 9/10;
    grid-row: 1/2;
    
}

.containerSplash .signin button{
    background-color: red;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    width: 100px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    border-color: red;
    position: relative;
    right: 40px;
    top: 20px;
}

.containerSplash .textone{
    grid-column: 2/9;
    grid-row: 3/5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    text-shadow: 1px 1px 10px black;
    color: white;
    text-align: center;
}

.containerSplash .texttwo{
    grid-column: 2/9;
    grid-row: 4/6;
    padding-top: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    text-shadow: 1px 1px 10px black;
}

.containerSplash .demo{
    grid-column: 5/6;
    grid-row: 5/7;
    background-color: red;
    color: white;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    height: 90px;
    width: 400px;
    border-radius: 3px;
    padding-left: 10px;
    margin: 0 auto;
    cursor: pointer;
    border-color: red;
}

.containerSplash .haveAccount{
    grid-column: 5/6;
    grid-row: 6/8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
}

.containerSplash .haveAccount a{
    text-decoration: none;
    color: white;
}
