.mainVideo{
    display: grid;
    grid-row:1/2;
    width: 100%;
    /* z-index: -1; */
    /* position: fixed; */
}

.mainVideoDiv{
    position:relative
}

.mainBackground{
    background-color: #141414;
}

.mainVideoDescription{
    color: #fff;
    font-weight: normal;
    line-height: normal;
    width: 100%;
    font-size: 1.4vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
    margin-top: .1vw;
}

.mainvideoLogo{
    position: absolute;
    bottom: 480px;
    left: 51px;
}

.transparentPlay{
  background:rgba(39, 39, 39, 0.5);
}

.testvid{
    width: 50%;
}

.playButton{
    width: 165px;
    height: 55px;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 381px;
    left: 55px;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 250ms;
}

.playButton:hover{
    background-color: white;
    transform: scale(1.05);
}

.playButton:hover img{
    filter: brightness(0)
}

.playButton:hover .playText{
    color:  black;
}

.playButton img{
    height: 22px;
    position:relative;
    right: 10px;
}

.playText{
    color:  white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    left: 5px;
}

.rowsection{
    position: absolute;
    display: flex;
    height: 280px;
    width: 100%;
    /* top: 800px; */
    bottom: 0;
    /* background-color: grey; */
}

.blockrow{
    position: absolute;
    display: flex;
    height: 230px;
    width: 100%;
    bottom: 0;
    /* background-color: lightpink; */
    justify-content: center;
    align-items: center;
}

.rowvideo{
    display: inline-block;
    height: 100%;
    width: 301px;
    background-color: black;
    

}


.videodiv{
    display: inline-block;
    background-color: transparent;
    padding: 1.5px;
    height: 169px;
    width: 301px;
    transition-duration: 750ms;
}

.videodiv:hover{
    margin: 0 40px;
    transform: scale(1.75);
}

.genreName{
    color: white;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 42px;
    top: 48px;
}

.bottomhalf{
    background-color: #141414;
    height: 100px
}

.secondsection{
    position: absolute;
    display: flex;
    height: 280px;
    width: 100%;
    /* top: 800px; */
    bottom: 0;
    /* background-color: grey; */
}
