.mainVideo{
    display: grid;
    grid-row:1/2;
    width: 100%;
    /* z-index: -1; */
    /* position: fixed; */
}

.mainBackground{
    background-color: #141414;
}

.mainVideoDescription{
    color: #fff;
    font-weight: normal;
    line-height: normal;
    width: 100%;
    font-size: 1.4vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
    margin-top: .1vw;
}

.mainvideoLogo{
    position: absolute;
    bottom: 340px;
    left: 51px;
}

.transparentPlay{
  background:rgba(39, 39, 39, 0.5);
}

.playButton{
    width: 165px;
    height: 55px;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 241px;
    left: 55px;
    border-radius: 4px;
    cursor: pointer;
}

.playButton img{
    height: 22px;
    position:relative;
    right: 10px;
}

.playText{
    color:  white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    left: 5px;
}

.showVideoBackground{
    background-color: black;
    /* display: flex; */
    /* align-items: center; */
    position: fixed;
    width: 100%;
    height: 100%;
}

.showVideo{
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
}

.showVideoParent{
    display: flex;
    justify-content: center;
}