.mainVideo{
    display: grid;
    grid-row:1/2;
    width: 100%;
    /* z-index: -1; */
    /* position: fixed; */
}

.mainVideoDiv{
    position:relative
}

.mainBackground{
    background-color: #141414;
    position: fixed;
    height: 100%;
    width: 100%;
}

.mainVideoDescription{
    color: #fff;
    font-weight: normal;
    line-height: normal;
    width: 100%;
    font-size: 1.4vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
    margin-top: .1vw;
}

.mainvideoLogo{
    position: absolute;
    bottom: 480px;
    left: 51px;
}

.transparentPlay{
  background:rgba(39, 39, 39, 0.5);
}

.testvid{
    width: 50%;
}

.playButton{
    width: 165px;
    height: 55px;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 381px;
    left: 55px;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 250ms;
}

.playButton:hover{
    background-color: white;
    transform: scale(1.05);
}

.playButton:hover img{
    filter: brightness(0)
}

.playButton:hover .playText{
    color:  black;
}

.playButton img{
    height: 22px;
    position:relative;
    right: 10px;
}

.playText{
    color:  white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    left: 5px;
}

.rowsection{
    position: absolute;
    display: flex;
    height: 280px;
    width: 100%;
    /* top: 800px; */
    bottom: 0;
    /* background-color: grey; */
}

.blockrow{
    position: absolute;
    display: flex;
    height: 230px;
    width: 100%;
    bottom: 0;
    /* background-color: lightpink; */
    justify-content: center;
    align-items: center;
    /* z-index: 1; */
}

.rowvideo{
    display: inline-block;
    height: 100%;
    width: 301px;
    background-color: black;
    

}


.videodiv{
    display: inline-block;
    background-color: transparent;
    padding: 1.5px;
    height: 169px;
    width: 301px;
    transition-duration: 750ms;
}

.videodiv:hover{
    margin: 0 40px;
    transform: scale(1.75);
}

.videodivfirst{
    display: inline-block;
    background-color: transparent;
    padding: 1.5px;
    height: 169px;
    width: 301px;
    transition-duration: 750ms;
}

.videodivfirst:hover{
    /* transform: translateX(25%); */
    margin: 0 0 0 160px ;
    transform: scale(1.75);
    z-index: 1;
}

/* .videodivfirst:hover ~ .videodiv{
    transform: translateX(5%)
} */

.videodivlast{
    display: inline-block;
    background-color: transparent;
    padding: 1.5px;
    height: 169px;
    width: 301px;
    transition-duration: 750ms;
}

.videodivlast:hover{
    /* transform: translateX(25%); */
    margin: 0 160px 0 0 ;
    transform: scale(1.75);
    z-index: 1;
}

/* .videodivlast:hover ~ .videodiv{
    transform: translateX(-5%)
} */


.genreName{
    color: white;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 42px;
    top: 48px;
}

.middlebottomhalf{
    background-color: #141414;
    height: 1100px;
    position: relative;
}

.bottomhalf{
    background-color: #141414;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 4px solid #222;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.secondsection{
    position: relative;
    display: flex;
    height: 280px;
    width: 100%;
    /* top: 800px; */
    bottom: 0;
    /* background-color: grey; */
}

.genreName2{
    color: white;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 42px;
    top: 48px;
}

.blockrow2{
    position: absolute;
    display: flex;
    height: 230px;
    width: 100%;
    bottom: 0;
    /* background-color: lightpink; */
    justify-content: center;
    align-items: center;
}

.videotitle{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: rgba(29, 106, 154, 0.72); */
  color: #fff;
  visibility: hidden;
  opacity: 0; 
  transition: opacity .2s, visibility .2s;
}

.videodiv:hover p{
    visibility: visible;
    opacity: 1;
}


.footertext{
    color: #a6a6a6;
    font-family: Arial, Helvetica, sans-serif;
}

.bottomdivtext{
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.soundindex{
    /* width: 100%; */
    position: absolute;
    right: 175px;
    bottom: 370px;
    border-radius: 50%;
    border: 2px solid #b2b2b2;
    padding: 10px;
    background: rgba(0,0,0,0.45);
    /* width: 25px; */
    transition: border .3s ;
    cursor: pointer;
}

.soundindex:hover{
    transform: scale(1.15);
    border-color: white;
}

#mainvid{
    width:100%;
}

#soundon{
    width: 25px;
}

#soundoff{
    width: 25px;
}

.nosound{
    visibility: hidden;
}

#mainvidrating{
    /* width: 100%; */
    position: absolute;
    right: 0;
    bottom: 369px;
    height: 48px;
    width: 155px;
    /* border-radius: 50%; */
    /* border: 2px solid #b2b2b2; */
    /* padding: 10px; */
    border-left: 2.5px solid white;
    background: rgba(39,39,39,0.5);
    transition: border .2s ;
    cursor: default;
    display: flex;
    align-items: center;
    
}

#mainvidrating p{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 20px;
    font-size: 20px;
    color: white;
}