.rowsectionMyList{
    position: absolute;
    display: flex;
    height: 280px;
    width: 100%;
    top: 140px;
    /* bottom: 0; */
    /* background-color: grey; */
    z-index: 1;
}

.mylist{
    background: black;
    height: 100vh;
    width: 100vw;
    /* position: fixed; */
}

.blockrowList{
    position: absolute;
    display: flex;
    height: 230px;
    width: 100%;
    bottom: 0;
    /* background-color: lightpink; */
    /* justify-content: center; */
    align-items: center;
    left: 55px;
    /* z-index: 1; */
}

.blockrow2List{
    position: absolute;
    display: flex;
    height: 230px;
    width: 100%;
    /* bottom: 0; */
    left: 50px;
    top: 185px;
    /* background-color: lightpink; */
    /* justify-content: center; */
    align-items: center;
}

.secondsectionList{
    position: relative;
    /* display: block; */
    display: flex;
    flex-wrap: wrap;
    height: 260px;
    width: 100%;
    top: 145px;
    bottom: 0;
    text-align: center;
    /* background-color: grey; */

    margin-left: 2.5%;
}

#mylisttext{
    color: #fff;
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
}


.videodivfirstlist{
    display: inline-block;
    background-color: transparent;
    padding: 1.5px;
    height: 169px;
    width: 301px;
    transition-duration: 750ms;
    padding-top: 4%;
    position: relative;
}

.videodivfirstlist:hover{
    /* transform: translateX(25%); */
    margin: 0 0 0 80px ;
    transform: scale(1.75);
    z-index: 1;
}

.videodivlastlist{
    display: inline-block;
    background-color: transparent;
    padding: 1.5px;
    height: 169px;
    width: 301px;
    transition-duration: 750ms;
    padding-top: 4%;
    position: relative;
}

.videodivlastlist:hover{
    /* transform: translateX(25%); */
    margin: 0 0 0 -80px ;
    transform: scale(1.75);
    z-index: 1;
}

.videodivlist{
    display: inline-block;
    background-color: transparent;
    padding: 1.5px;
    height: 169px;
    width: 301px;
    transition-duration: 750ms;
    padding-top: 4%;
    position: relative;
}

.videodivlist:hover{
    margin: 0 40px;
    transform: scale(1.75);
    z-index: 1;
}

.addList{
    position: absolute;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    border: 2px solid #b2b2b2;
    padding: 10px;
    background: rgba(0,0,0,0.45);
    /* width: 25px; */
    transition: border .3s ;
    cursor: pointer;
    /* opacity: 80%; */
}