.searchlist{
    background: black;
    height: 1300px;
    width: 100vw;
}

.unopenedSearch{
    left: 130px;
    transition: .5s linear all;
}

.unopenedSearchBar{
    display: none;
    transition: .5s linear all;
}