.containerSplash .demoSession{
    grid-column: 9/10;
    grid-row: 1/2;   
    background-color: rgb(229, 9, 20);
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    width: 100px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    border-color: rgb(229, 9, 20);
    position: relative;
    right: 30px;
    top: 20px;
    /* margin-left: 40px; */
}

.containerSplash .sessionBox{
    grid-column: 3/7;
    grid-row: 3/7;
    background: rgba(0, 0, 0, 0.67);
    height: 590px;
    min-height: 515px;
    min-width: 380px;
    position: absolute;
    top: 11%;
    left: 37%;
    border-radius: 4px;
    padding-top: 42px;
    padding-right: 23px;
    padding-bottom: 40px;
    padding-left: 38px;
    margin-bottom: 75px;
    text-align: start;
}

.containerSplash .sessionSignin{
    background-color: rgb(229, 9, 20);
    border-color: rgb(229, 9, 20);
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    height: 48px;
    width: 290px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    padding: 0px 20px 0px 20px;
    margin-top: 25px;
    margin-bottom: 16px;
    margin-left: 34px;
    cursor: pointer;
}

 .containerSplash .sessionlogo{
    grid-column: 1/3;
    grid-row: 1/2;
    height: 48px;
    width: 177px;
    justify-items: center;
    align-items: center;
    padding-left: 40px;
    padding-top: 21px;
 }

 .containerSplash .head{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 35px;
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
 }

 .textthreelabel a{
     text-decoration: none;
     color: white;
     font-family: Arial, Helvetica, sans-serif;
 }

 /* .textthreediv{
     color: white;
 } */

 .containerSplash .textthreelabel{
     font-family: Arial, Helvetica, sans-serif;
     color: #737373;
     display: flex;
     position: absolute;
     top: 610px;
     left: 69px;
     text-decoration: none;
 }

 .containerSplash .sessionBox .textField{
     background: #333;
     border-radius: 4px;
     border: 0;
     color: #fff;
     font-size: 15px;
     font-family: Arial, Helvetica, sans-serif;
     height: 50px;
     line-height: 50px;
     padding: 8px 20px 0px 20px;
     margin-bottom: 16px;
     margin-left: 34px;
     width: 250px;
     height: 40px;
 }

 .textField[type="email"]:focus, 
 .textField[type="password"]:focus {
     filter: brightness(150%);
 }

 .containerSplash .sessionBox .errors{
     background: #E87c03;
     color: white;
     border-radius: 4px;
     font-size: 15px;
     list-style-type: none;
     font-family: Arial, Helvetica, sans-serif;
     margin-top: 15px;
     padding: 10px 8px 0px 15px;
     margin-bottom: 20px;
     margin-left: 34px;
     width: 267px;
     height: 43px;
 }

 .containerSplash .sessionBox .github{
     /* opacity: .5; */
     /* transition-property: opacity;
     transition-duration: 200ms; */
     /* filter:brightness(50%); */
     position: absolute;
     left: 110px;
     color: white;
     top: 480px;
     z-index: 1;
 }
 .github img{
     opacity: .5;
 }

 .github img:hover{
     opacity: 1;
 }

 /* .github a img{
     transition: 1s; 
     /* -webkit-transition: 1s; */
     /* -webkit-filter: grayscale(100%);
	 filter: grayscale(100%);
	 -webkit-transition: .3s ease-in-out;
	 transition: .3s ease-in-out;
 } */ 

 .containerSplash .sessionBox .linkedin{
     opacity: 1.0;
     position: absolute;
     left: 260px;
     color: white;
     top: 485px;
     z-index: 1;
 }

  .linkedin img{
     opacity: .5;
 }

 .linkedin img:hover{
     opacity: 1;
 }
