.backbutton{
    position:absolute;
    left: 50px;
    top: 50px;
    width: 280px;
    z-index: 1;
    cursor: pointer;
}

.hiddenbutton{
    position: hidden;
}

.backarrow{
    width: 17%;

}

.showVideoBackground{
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
}

.showVideo{
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
}

.showVideoParent{
    display: flex;
    justify-content: center;
}